.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 800px) {
    .main {
      grid-template-columns: 10px repeat(3, 1fr) 10px;
    }
  }


.header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.full_name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.body {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
        font-family: 'Open Sans', sans-serif;
}

.basement {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
}

.information {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

