<html>
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "main.css" %}">
<title>{{ data.full_name }} - {{ data.title }}</title>

<body>
    <div class="main">
        <div class="header">
            <h1 class="full_name">{{ data.full_name }}</h1>
            <h2 class="full_name">{{ data.title }}</h2>
            <p>
                <a href="mailto:{{ data.email }}">{{ data.email }}</a> |
                <a href="{{ data.github }}">{{ data.github }}</a>
            </p>
        </div>
        <div class="body">
            <div class="information">
                {{ data.information }}
            </div>
            <div>
                <b>email:</b> {{ data.email }}
            </div>
            <div>
                <b>github:</b> {{ data.github }}
            </div>
            <div>
                <b>linkedin:</b> {{ data.linkedin }}
            </div>
            <div>
                <h3>Technologies:</h3>
                <p>
                    {% for item in data.technologies.all %}
                        {{ item }}
                    {% endfor %}
                </p>
            </div>
            <div>
                <p>
                    {% for item in data.education.all %}
                        {{ item }}
                    {% endfor %}
                </p>
            </div>
            <div>
                {% for item in data.experience.all %}
                {{ item }}
                <div>
                    {% for point in  item.experience_points.all %}
                    {{point}}
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="basement">
            with love from Oryol, 2020
        </div>
    </div>
</body>
</html>