<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-163577329-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>{{ data.full_name }} - {{ data.title }}</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <h1 class="full_name">{{ data.full_name }}</h1>
            <h2 class="full_name">{{ data.title }}</h2>
            <p>
                <a href="mailto:{{ data.email }}">{{ data.email }}</a> |
                <a href="{{ data.github }}">{{ data.github }}</a>
            </p>
        </div>
        <div class="body">
            <div class="information">
                {{ data.information }}
            </div>
            <div>
                <b>email:</b> {{ data.email }}
            </div>
            <div>
                <b>github:</b> {{ data.github }}
            </div>
            <div>
                <b>linkedin:</b> {{ data.linkedin }}
            </div>
            <div>
                <h3>Technologies:</h3>
                <p>
                    {% for item in data.technologies.all %}
                    {{ item }}
                    {% endfor %}
                </p>
            </div>
            <div>
                <h3>Education:</h3>
                {% for item in data.education %}
                <p>
                    {{ item.start_year }}-{{ item.end_year}} {{ item.title}} ({{ item.organization}})
                </p>
                {% endfor %}

            </div>
            <div>
                <h3>Experience:</h3>
                {% for item in data.experience %}
                <p>
                    <h4>{{ item.title}}</h4>
                    {{ item.start_year }}-{{ item.end_year|default_if_none:"present"}} {{ item.title}} at
                    <b>{{ item.organization}}</b>
                    <div>
                        {% for point in  item.experience_points %}
                        {{point}}
                        {% endfor %}
                    </div>
                </p>
                {% endfor %}

            </div>
        </div>
        <div class="basement">
            with love from Oryol, {{ year }}
        </div>
    </div>
</body>

</html>